.App {
  text-align: center;
  
}

.App-header {
  padding: 20px;
}

.App-input {
  margin-bottom: 60px;
}

.App-copyurl {
  color: #D7D7D7;
}

a {
  color: #fff;
}

/* we will never need submit buttons for our forms in this app again! */
form button[type="submit"] {
  display: none;
}

.view-on-github {
  position: fixed;
  right: 10px;
  top: 10px;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.view-on-github > * {
  align-self: center;
}

.view-on-github img {
  margin-left: 10px;
}

textarea {
  background-color: #233237;
  padding: 10px;
  color: #fff;
  border: 0;
  display: block;
  margin: 0 auto;
  min-height: 25vmin;
  min-width: 50vw;
  margin-bottom: 15px;
}

a {
  color: #EAC67A;
}

