button {
    display: flex;
    align-self: center;
    margin: 0 auto;
    padding: 5px 15px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #EAC67A;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

button.secondary {
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
}