.copyContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.copyToClipboard {
    font-size: 11px;
    opacity: 0.6;
    align-self: center;
    word-wrap:break-word;
    max-width: 40%;
}

.flex {
    display: flex;
}

/* Animation */
@keyframes fadeInOut {
    0% {opacity: 0}
    25% {opacity: 1}
    75% {opacity: 1}
    100% {opacity: 0}
}

.buttonTitle.result {
    opacity: 0;
    display: block;
    color: #fff;
    font-size: 14px;
    animation-name: fadeInOut;
    animation-duration: 3s;
}