html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #222;
  color: #f7f7f7;
  font-size: 3vmin;
}

a {
  color: #e87414;
}

textarea {
  font-size: 3vmin;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 640px) {
  body {
    font-size: 2.5vmin;
  }
  textarea {
    font-size: 2.5vmin;
  }
}
