.results {
    display: block;
    list-style-type: none;
    margin-bottom: 50px;
}

.results > li {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.results > li > * {
    margin: 0 6px;
    width: 25%;
}

.results .noimage,
.results img {
    width: 12vw;
    max-width: 100%;
    height: 100%;
}

.results .notfound {
    font-style: italic;
    color: #999;
    height: 75px;
}

.results .customRating {
    transform-origin: 50% 50%;
    transform: rotate(180deg);
    width: 5vw;
    margin: 0 15px;
} 

.ratings {
    text-align: left;
}